<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers">
	<select id="usersSelect" parameterType="model.UsersDTO" resultType="model.UsersDTO">
		select * from users where id = #{id};
	</select>
	<select id="endDateSelect" resultType="model.MealkitDTO">
		select * from mealkit where endDate = (select max(endDate) from mealkit) limit 1;
	</select>
	<select id="mealplanPriceSelect" resultType="model.MealplanPriceDTO">
		SELECT * FROM mealplanPrice;
	</select>
	
	<sql id="price">FROM mealplanPrice WHERE servingCnt = #{servingCnt}</sql>
	<select id="priceSelect" resultType="model.MealplanPriceDTO">
		SELECT * 
		<include refid="price" />
	</select>
	
	<select id="mealkitSelect" parameterType="model.MealplanDeliveryDTO" resultType="model.MealkitDTO">
		select * from mealkit where #{deliverDate} between startDate and endDate;
	</select>
	<select id="mealkitNameSelect" resultType="model.MealkitDTO">
		select * from mealkit where mealkitNo in
		<foreach collection="array" item="mealkitNo" open="(" close=")" separator=",">
			#{mealkitNo}
		</foreach>;
	</select>
	<select id="mealplanSelect" parameterType="model.MealplanDTO" resultType="model.MealplanDTO">
		select * from mealplan where mealplanNo = #{mealplanNo};
	</select>
	<select id="mealplanDeliverySelect" parameterType="model.MealplanDeliveryDTO" resultType="model.MealplanDeliveryDTO">
		select * from mealplanDelivery where deliveryNo = #{deliveryNo};
	</select>
	<select id="mealplanSelectID" parameterType="model.MealplanDTO" resultType="model.MealplanDTO">
		select * from mealplan where id = #{id} and cancelDate is null;
	</select>
	
	<select id="readCountRecipeSelect" parameterType="int" resultType="model.RecipeDTO">
		SELECT *
		FROM RECIPE
		WHERE recipeNo = (SELECT recipeNo FROM recipe order by readCount DESC LIMIT #{startNo}, 1);
	</select>
	<select id="reviewCountRecipeSelect" parameterType="int" resultType="model.RecipeDTO">
		SELECT *
		FROM recipe
		WHERE recipeNo = (SELECT recipeNo FROM recipeReview GROUP BY recipeNo ORDER BY count(*) DESC LIMIT #{startNo}, 1);
	</select>
	<select id="categoryRecipeSelect" parameterType="map" resultType="model.RecipeDTO">
		SELECT *
		FROM recipe
		WHERE category LIKE CONCAT('%', #{category}, '%') ORDER BY regDate DESC LIMIT 1;
	</select>
	
	<select id="indexNoticeSelect" resultType="model.NoticeDTO">
		SELECT *
		FROM notice
		ORDER BY regDate DESC LIMIT 3;
	</select>
	
	<select id="mapSelect" resultType="model.MapDTO">
		SELECT * FROM map;
	</select>
	
	
	<insert id="mealplanInsert" parameterType="model.MealplanDTO">
		INSERT INTO mealplan (mealplanNo, id, serving, servingCnt, subDate, subPrice)
		VALUES (#{mealplanNo}, #{id}, #{serving}, #{servingCnt}, #{subDate}, #{serving} * (SELECT price <include refid="price" />)) 
	</insert>
	
	<insert id="mealplanMenuInsert" parameterType="model.MealplanMenuDTO">
		INSERT INTO mealplanMenu (menuNo, deliveryNo, mealkitNo) 
		VALUES (#{menuNo}, #{deliveryNo}, #{mealkitNo});
	</insert>
	
	<insert id="mealplanDeliveryInsert" parameterType="model.MealplanDeliveryDTO">
		INSERT INTO mealplanDelivery (deliveryNo, mealplanNo, postcode, addr1, extraAddr, addr2, deliverDate) 
		VALUES (#{deliveryNo}, #{mealplanNo}, #{postcode}, #{addr1}, #{extraAddr}, #{addr2}, #{deliverDate});
	</insert>
	
	<update id="pointUpdate" parameterType="model.UsersDTO">
		UPDATE users SET point = (point - #{point}) WHERE id = #{id};
	</update>
</mapper>