@charset "UTF-8";

@font-face {
    font-family: 'KOTRALEAP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRALEAP.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

main { width: 950px; margin: 80px auto; font-size: 14px; }
.title { margin: 30px; font-family: KOTRALEAP; font-size: 2.2em; text-align: center; }

.steps { display: flex; justify-content: center; align-items: center; 
	font-family: KOTRALEAP; margin: 50px auto 30px auto;
}
.step { width: 90px; height: 90px; border-radius: 45px; box-shadow: 0 0 10px gray;
	display: flex; flex-direction: column; align-items: center; justify-content: center;
}
.step > span:nth-child(2n-1) { font-size: 1.4em; color: #FF5D49; }
.step > span:nth-child(2n) { color: lightgray; }
.dashed { width: 30px; height: 0; border: 1px dashed gray; border-radius: 1px; }
