@charset "UTF-8";

@font-face {
    font-family: 'KOTRALEAP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRALEAP.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

main { width: 900px; min-height: 650px; margin: 80px auto;
	font-size: 14px; overflow: hidden;
}
.title { font-family: KOTRALEAP; font-size: 2.2em; text-align: center; margin-bottom: 30px; }

table { border-collapse: collapse; margin: 0 auto; table-layout: fixed; }
.qnaListTable { width: 850px; }
.qnaListTable tr { border-bottom: 1px solid gray; height: 33px; }
.qnaListTable tr:first-child { border-top: 1px solid gray; }
.centerAlign { text-align: center; }
.leftAlign { text-align: left; }
.qnaListTable a:link, .qnaListTable a:visited { color: black; text-decoration: none; }
.qnaListTable a:hover { text-decoration: underline; }

td { width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 13px; }

.pages { text-align: center; margin-top: 50px; }
.pages button { margin: 0 10px; padding: 5px 10px; border-radius: 12px; background-color: #e7e7e7; border: none; font-weight: bold; }
.pages button:hover { cursor: pointer; }
.pages a:visited, .pages a:link { color: black; text-decoration: none; }
.pages a:hover { text-decoration: underline; }

.qnaSearch { display: flex; justify-content: center; margin-top: 20px; }
.qnaSearch select:focus, .qnaSearch input[type='text']:focus { outline: 1px solid black; }
.qnaSearch select { height: 28px; text-align: center; border-radius: 5px; border: 1px solid gray; }
.qnaSearch input, .qnaSearch button { border-radius: 5px; border: 1px solid gray; }
.qnaSearch input[type='text'] { height: 24px; width: 200px; margin: 0 5px; }
.qnaSearch button { height: 28px; width: 60px; background-color: #fdedea; }
.qnaSearch button:hover { cursor: pointer; }

.qnaDetailTable { width: 770px; }
.qnaDetailTable tr { border-bottom: 1px solid lightgray; height: 45px; }
.qnaDetailTable tr:first-child { border-top: 1px solid lightgray; }
.qnaDetailTable tr td:first-child { width: 20%; text-align: center; }
.qnaDetailTable tr td:last-child { width: 80%; }
.qnaDetailTable input[type='text'], .qnaDetailTable input[type='password'] { width: 500px; height: 25px; font-size: 12px; }
.qnaDetailTable select { width: 150px; height: 31px; }
.qnaDetailTable textarea { resize: none; width: 760px; height: 300px; margin: 6px auto; font-size: 12px; }
.removeBtn { margin-left: 5px; border-radius: 5px; border: 1px solid gray; }
.detailBtns { text-align: center; }
.detailBtns button { height: 31px; width: 80px; margin: 30px 5px;
	border-radius: 5px; border: 1px solid gray;
}
.contentBox { width: 760px; padding: 20px 40px; height: 270px; overflow: scroll;
	text-align: left; white-space: pre; font-size: 0.9em;
}

.viewBtns { width: 770px; margin: 0 auto; display: flex; justify-content: space-between; }
.viewBtns button { margin: 20px 5px; padding: 6px 14px;
	border-radius: 5px; border: 1px solid #f1e3e0; background-color: #fdedea; font-weight: bold; 
}
.viewBtns button:hover { cursor: pointer; }

.rightReadCount { margin-top: 5px; float: right; font-size: 0.8em; color: gray; text-align: right; }

.pwTitle { margin-top: 120px; font-family: KOTRALEAP; font-size: 1.8em; text-align: center; }
.pwCheck { width: 700px; height: 200px; margin: 40px auto;
	border-radius: 8px; box-shadow: 0 0 10px gray;
	display: flex; justify-content: center; align-items: center;
}
.pwCheck input[type='password'] { width: 300px; height: 30px; margin: 0 8px; border-radius: 5px; border: 1px solid gray; }
.pwCheck button { width: 70px; height: 35px; font-weight: bold; background-color: #fdedea; border-radius: 5px; border: 1px solid gray; }
.pwCheck { font-family: KOTRALEAP; font-size: 1.2em; font-weight: bold; }

