body { margin: 0; }
body > div {
	max-width: 1920px;
	margin: 0 auto;
}
header {
	width: 1100px;
	margin: 0 auto;
}
.logo {
	width: 320px;
	height: 80px;
	/*background-color: #FF5D49;
	color: white;*/
	margin: 8px auto;
}
.lang {
	width: 100px;
	font-size: 12px;
	color: darkgray;
	text-align: right;
	float: right;
}
.nav_box {
	background-color: white;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	position: sticky;
	top: 0;
	z-index: 100;
}
.nav_main {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.nav_main ul {
	margin: 0;
}
.nav_box a:link, .nav_box a:visited {
	text-decoration: none;
	color: black;
}
.level1 > a {
	border-bottom: 2px solid white;
}
.level1 {
	height: 50px;
	padding: 0 20px;
	font-size: 16px;
	font-weight: bold;
}
.level1, .right_ul li {
	display: inline-flex;
	align-items: center;
}
.level2 {
	position: absolute;
	top: 50px;
}
.level2 > div {
	position: absolute;
	top: 0;
	left: -8px;
	padding: 5px 20px;
	background-color: white;
	box-shadow: 5px 5px gray;
	border: 1px solid #FF5D49;
}
.level2_wrapper {
	width: 180px;
}
.level2_wrapperL {
	width: 580px;
}
.level2_wrapper > li, .level2_wrapperL > li {
	list-style: none;
	margin: 10px 0;
}
.level3 {
	display: inline;
	padding-left: 8px;
}
.level3 > li {
	display: inline;
	margin: 0 8px;
}
.level3 li:nth-child(2n+1) {
	color: darkgray;
}
.right_ul li {
	width: 100px;
	height: 50px;
	padding: 0 4px;
	font-size: 12px;
	text-align: right;
}
.right_ul li:first-child {
	width: 140px;
}

#imageslider {
	display: flex;
	justify-content: center;
}

section {
	width: 1000px;
	display: flex;
	justify-content: center;
}
.main_menu {
	margin: 50px auto;
	align-items: center;
}
.menubox {
	width: 250px;
	height: 150px;
	border: 1px solid gray;
	margin: 0 20px;
}
.vline {
	width: 0.1px;
	height: 100px;
	border-right: 1px solid #FF5D49;
}

.backgroundbox {
	background-color: #f7f7f7;
	padding-top: 1px;
}
.maintitle {
	margin: 30px auto 10px auto;
}
.maincontent {
	margin: 0 auto 30px auto;
}
main > .maintitle {
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}
.title_font {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 15px 0;
}
.mealplan_menu {
	width: 1000px;
	margin: 0 auto 20px auto;
	padding: 20px 0;
}

.recipes_pic {
	width: 240px;
	height: 280px;
	margin: 0 15px 40px 15px;
	border: 3px solid white;
	overflow: hidden;
}
.recipes_pic img {
	transition: all 0.3s ease-in-out;
}
.recipes_pic img:hover {
	transform: scale(1.2);
}

.boardbox {
	width: 180px;
	height: 300px;
	margin: 0 15px;
	border: 1px solid gray;
}
.banner {
	width: 150px;
	height: 100px;
	margin: 0 auto;
	border: 1px solid gray;
}

footer {
	background-color: #FF5D49;
	margin: 60px auto 0 auto;
	height: 150px;
	display: flex;
	justify-content: center;
	color: white;
}
.foot_nav {
	width: 1000px;
	display: flex;
	justify-content: center;
}
.foot_nav ul {
	margin: 30px 0 0 0;
}
.foot_nav li {
	display: inline;
}
.foot_info {
	width: 1000px;
	font-size: 12px;
	margin: 20px auto;
	text-align: center;
}