#imageslider { display: flex; justify-content: center; }

section { width: 1000px; display: flex; justify-content: center; }
.main_menu { margin: 50px auto;	align-items: center; }
.menubox {
	width: 220px; height: 100px;
	margin: 0 20px;	overflow: hidden;
}
.vline { width: 0.1px; height: 70px; border-right: 2px solid #FF5D49; }

.backgroundbox { background-color: #f7f7f7; padding-top: 1px; }
.maintitle { margin: 30px auto 10px auto; }
.maincontent { margin: 0 auto 30px auto; }
main > .maintitle {
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}
.title_font {
	font-size: 30px; font-weight: bold;
	text-align: center; padding: 15px 0;
}
.mealplan_menu { width: 1000px;	margin: 0 auto 20px auto; padding: 20px 0; }
.lazyimg { width: 240px; overflow: hidden; }
.lazy img { transition: all 0.3s ease-in-out; }
.lazy img:hover { transform: scale(1.05); }

.recipes_pic {
	width: 240px; height: 280px;
	margin: 0 15px 40px 15px;
	border: 3px solid white;
	overflow: hidden;
}
.recipes_pic img { transition: all 0.3s ease-in-out; }
.recipes_pic img:hover { transform: scale(1.05); }

.boardbox {
	width: 180px; height: 300px;
	margin: 0 15px; border: 1px solid gray;
}
.banner {
	width: 150px; height: 100px;
	margin: 0 auto;
	border: 1px solid gray;
}
