body { margin: 0; }
body > div {
	max-width: 1920px;
	margin: 0 auto;
}
header {
	width: 1000px;
	margin: 0 auto;
}
.logo {
	width: 320px;
	height: 80px;
	margin: 8px auto;
}
.lang {
	width: 100px;
	font-size: 12px;
	color: darkgray;
	text-align: right;
	float: right;
}
.nav_box {
	background-color: white;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	position: sticky;
	top: 0;
	z-index: 100;
}
.nav_main {
	width: 1000px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.nav_main ul {
	padding: 0;
}
.left_ul {
	margin: 0;
}
.nav_box a:link, .nav_box a:visited {
	text-decoration: none;
	color: black;
}
.level1 > a {
	border-bottom: 2px solid white;
}
.level1 {
	height: 50px;
	padding: 0 45px 0 0;
	font-size: 16px;
	font-weight: bold;
}
.level1 {
	display: inline-flex;
	align-items: center;
}
.level2 {
	position: absolute;
	top: 50px;
}
.level2 > div {
	position: absolute;
	top: 0;
	left: -8px;
	padding: 5px 20px;
	background-color: white;
	box-shadow: 5px 5px gray;
	border: 1px solid #FF5D49;
}
.level2_wrapper {
	width: 170px;
}
.level2_wrapperL {
	width: 550px;
}
.level2_wrapper > li, .level2_wrapperL > li {
	list-style: none;
	margin: 10px 0;
}
.level3 {
	display: inline;
	padding-left: 8px;
}
.level3 > li {
	display: inline;
	margin: 0 8px;
}
.level3 li:nth-child(2n+1) {
	color: darkgray;
}
.right_ul {
	margin: auto 0;
}
.right_ul li {
	list-style-type: none;
	float: right;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	text-align: right;
}
.right_ul li:last-child {
	padding: 0;
}
.right_ul a {
	font-size: 14px;
}
.recSearch {
	width: 280px;
	height: 36px;
	border: 2px solid #FF5D49;
	border-radius: 15px;
	clear: both;
}
.recSearch img {
	padding: 2px;
}

main {
	width: 1100px;
	margin: 0 auto;
}
section {
	width: 460px;
	margin: 0 auto;
}
main section:first-child {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding: 40px 0;
	border-bottom: 2px solid black;
	margin: 20px auto;
}
.labelstyle, .label_must {
	font-weight: bold;
	margin: 10px 0;
}
input[type="radio"] {
	margin: 10px 10px 10px 0;
}
.label_must > font {
	color: red;
}
input[type="text"], input[type="password"] {
	border: 1px solid black;
	border-radius: 4px;
	height: 30px;
}
input[type="text"]:focus, input[type="password"]:focus, .emailstyle:focus {
	outline-color: #FF5D49;
}
button {
	height: 40px;
	border-radius: 30px 10px;
	border-color: white;
	background-color: lightgray;;
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
}
button:hover {
	background-color: #abaaaa;
}
.emailstyle {
	width: 198px;
	height: 35px;
	border: 1px solid black;
	border-radius: 4px;
	margin-left: 6px;
}
.selectstyle {
	width: 80px;
	height: 35px;
	text-align: center;
	border: 1px solid black;
	border-radius: 4px;
}
hr {
	border: 0;
	height: 1px;
	background-color: black;
}
input[type="checkbox"]:checked + textarea {
	display: none;
	height: 0;
}
textarea {
	width: 100%;
	height: 100px;
	overflow: scroll;
}
.bottom_btn {
	display: flex;
	justify-content: center;
}

footer {
	background-color: #FF5D49;
	margin: 60px auto 0 auto;
	height: 150px;
	display: flex;
	justify-content: center;
	color: white;
}
.foot_nav {
	width: 1000px;
	display: flex;
	justify-content: center;
}
.foot_nav ul {
	margin: 30px 0 0 0;
}
.foot_nav li {
	display: inline;
}
.foot_info {
	width: 1000px;
	font-size: 12px;
	margin: 20px auto;
	text-align: center;
}